* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

body {
  background: #e9e9e9;
  font-family: Inter;
}

.topbar {
  display: flex;
  width: 1728px;
  padding: 20px 50px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.burger {
  width: 30px;
  height: 34.286px;
  flex-shrink: 0;
}

.menu {
  display: flex;
  padding: 20px 30px;
  align-items: flex-start;
  gap: 20px;
  border-radius: 32px;
  background: #fff;
}

.menu h1 {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}

.tools {
  display: flex;
  align-items: flex-start;
}

.language {
  display: flex;
  width: 64px;
  height: 64px;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  background: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.contact {
  display: flex;
  width: 64px;
  height: 64px;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  background: #fff;
}
